@import url("shun.css");
@import url("tsutomu.css");
@import url("ucchi.css");
@import url("responsive_tsutomu.css");

html {
  font-size: 62.5%;
}


iframe {
  display: block;
  border: none;
  width: 100%;
}


