/* モバイル向けレイアウト */
@media screen and (max-width: 670px) {

  .middle_wrapper {

    .container {
      width: 90%;
      .info__title {
        text-align: center;
        font-size: 2rem;
      }
      .info {
        width: 100%;
        display: block;
        margin-bottom: 10%;
        &__left {
          width: 100%;
          border: none;
          
          &__selectBar {
              width: 70%;
              height: 15%;
            &__date {
              line-height: 500%;
            }
          }
          &__content {
            margin-bottom: 30%;
            &__img {
              width: 100%;
              img {

              }
            }
          }
        }
        &__right {
          width: 100%;
          &__left {
            border: none;
          }
          .sub_content {
            
            &__img {
              width: 95%;
            }
            p {
              font-size: 1rem;
              margin-bottom: 6%;
            }
            h3 {
              font-size: 1.3rem;
            }
          }
        }
      }
      .info__btn {
        margin-bottom: 15%;
        a {
          font-size: 1.2rem;
          padding: 4% 17%;
        }
      }
    }
  }



}